body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
}
body:before {
    content: "";
    position: absolute;
    background: url(2d0652e5f82da5437b2aaab5b054c5e1.jpg);
    background-size: cover;
    z-index: -1;
    height: 20%; width: 20%;
    opacity: 0.2;

    transform: scale(5);
    transform-origin: top left;
    filter: blur(1px);
}

.navbar{
	background-color: #88E806;
	border-color: #f0efb5;
	border-width: 2px;
}

.navbar-nav .dropdown a{
	background-color: #88E806;
}

.navbar a{
	color: white !important;
	/*color: #e1c336;*/
}

.navbar-nav a{
	color: white !important;
	/*color: #e1c336;*/
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th{
	background-color: #f0efb5;
	/*background-color: #e9d76c;*/
}

h1{
	color: #8f3f1c !important;
}

h2{
	color: #8f3f1c !important;
}

a{
	color: #88E806;
}
