body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    color: #8f3f1c;
}
body:before {
    content: "";
    position: fixed;
    background: url(2d0652e5f82da5437b2aaab5b054c5e1.jpg);
    background-size: cover;
    z-index: -1;
    height: 20%; width: 20%;
    opacity: 0.4;

    transform: scale(5);
    transform-origin: top left;
    filter: blur(1px);
}

.navbar{
	background-color: #88E806;
	border-color: #f0efb5;
	border-width: 2px;
}

.navbar-nav .dropdown a{
	background-color: #88E806;
}

.navbar a{
	color: white !important;
}

.navbar-nav a{
	color: white !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th{
	background-color: #f0efb5;
	border-color: #f0efb5;
}

.image{
	margin: 30px;
	height: 400px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image img{
	width: 100%;
	height: auto;
}

h1{
	margin: 10px;
	color: #8f3f1c !important;
}

h2{
	margin: 10px;
	color: #8f3f1c !important;
}

a{
	margin: 10px;
	color: #8f3f1c;
}

p{
	margin: 10px;
	color: #8f3f1c;
}

.image{
	height: 400px;
	width: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;	
}

.image img{
	width: 100%;
	height: auto;
}

button{
	background-color: #f0efb5;
	border-color: #88E806;
	border-radius: 20px;
	margin: 10px;
}

#submit{
	background-color: #f0efb5;
	border-color: #88E806;
	border-radius: 20px;
}
