<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoppy Home Brewer</title>
    <link rel="stylesheet" 
    	  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   	<link rel="stylesheet"
		href="bootstrap-styles.css">
	<link href="/static/homebrew.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Hoppy Home Brewer</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/styles">Styles</a></li>
                    <!-- <li><a href="/ingredients">Ingredients</a></li> -->
                    <li class="dropdown">
                        <a href="/ingredients"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-expanded="false">
                            Ingredients <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/fermentables">Fermentables</a></li>
                            <li><a href="/hops">Hops</a></li>
                            <li><a href="/yeast">Yeast</a></li>
                        </ul>
                    </li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/random-beer">Random Beer</a></li>
                    {% if 'username' in session %}
                    	<li><a href="/logout">Logout</a></li>
                	{% else %}
                    	<li><a href="/login">Login</a></li>
                	{% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% for message in get_flashed_messages() %}
	<div class="alert alert-info" role="alert">
		<li>{{ message }}</li>
	</div>
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>
