{% extends 'base.html' %}
{% block content %}

<div>
<h1>Edit your Project here:</h1>
<form action="/edit-project" method="POST" id="editProject">
	<div>
		<label>
			Please enter your project name:
			<input type="text" name="project_name" value="{{ name }}" required>
		</label>
	</div>

	<div>
		<label>
			Please enter the style you used:
			<input type="text" name="style" value="{{ style }}">
		</label>
	</div>

	<div>
		<label>
			Please enter the yeast you used:
			<input type="text" name="yeast" value="{{ yeast }}" required>
		</label>
	</div>

	<div>
		<label>
			Please enter the hops you used:
			<input type="text" name="hops" value="{{ hops }}" required>
			<input type="text" name="hops2" value="{{ hops2 }}">
			<input type="text" name="hops3" value="{{ hops3 }}">
		</label>
	</div>

	<div>
		<label>
			Please enter the fermentables you used:
			<input type="text" name="fermentables" value="{{ fermentables }}" required>
			<input type="text" name="fermentables2" value="{{ fermentables2 }}">
			<input type="text" name="fermentables3" value="{{ fermentables3 }}">
		</label>
	</div>

	<div>
		<label>
			Please enter your Original Gravity:
			<input type="text" name="og" value="{{ og }}">
		</label>
	</div>

	<div>
		<label>
			Please enter your Final Gravity:
			<input type="text" name="fg" value="{{ fg }}">
		</label>
	</div>

	<div>
		<label>
			Please enter your ABV:
			<input type="text" name="abv" value="{{ abv }}">
		</label>
	</div>

	<div>
		<label>
			Please enter your SRM:
			<input type="text" name="srm" value="{{ srm }}">
		</label>
	</div>

	<div>
		<label>
			Please enter your project notes:<br>
			<textarea name="notes" rows="10" cols="50">{{ notes }}</textarea>
		</label>
	</div>

	<div>
		<input type="submit" id="submit">
	</div>

	<a href="/profile">Back</a>

</form>

</div>

{% endblock %}