{% extends 'base.html' %}
{% block content %}

<head>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<div class="container-fluid">
<div class="col-sm-12 col-med-6 col-lg-6">
<h2>Fermentables</h2>

<form>
	<p>Search by Country of Origin:
		<select name="fermentOrigin" id="fcoo">
			<option value="GERMANY">Germany</option>
			<option value="UNITED KINGDOM">United Kingdom</option>
			<option value="BELGIUM">Belgium</option>
			<option value="CANADA">Canada</option>
			<option value="n/a">Not Listed</option>
		</select>
		<button id="search">Search!</button></p>
</form>


<ul id="fermentables">
</ul>
</div>

<div class="col-med-6 col-lg-6">
<div class="picture">
	<img src="/static/Porter-Beer-Ingredients.png" align="right">
</div>
</div>
</div>

<script>
	"use strict";

	$( document ).ready(function() {
	    $.get('/fermentables.json', {fcoo: "all" }, displayFermentables)
	});

	var fcooSearch = document.getElementById("search");

	fcooSearch.addEventListener("click", searchDisplay);

	function searchDisplay(evt) {
		evt.preventDefault();
		$.get('/fermentables.json', {fcoo: $("#fcoo").val() }, displayFermentables)
	}

	function displayFermentables(result) {
		$("#fermentables").empty()
		for(var i = 0; i < result.length; i++){
			var encoded = encodeURIComponent(result[i]);
			console.log(encoded);
			$("#fermentables").append("<li><a href=/fermentable-display/" + encoded +">" + result[i] + "</a></li>");
		}
	}
 </script>

{% endblock %}