{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
	<div class="col-xs-12 col-md-6 col-lg-6">
		<section class="" id="splash">
			<p><h1>{{ fermentables.name }}</h1><p>
			<div class="description"><p>Description: {{ fermentables.description }}</p></div>
		</section>
	</div>

	<div class="col-xs-12 col-md-6 col-lg-6 col-lg-offset-6" id="tablerow" style="margin:0;">

		<section>
			<table class="table table-striped">
		        <tr>
		            <th>SRM:</th>
		            <th>{{ fermentables.srm_id }}</th>
		        <tr>
		            <td>Moisture Content:</td>
		            <td>{{ fermentables.moisture_content }}</td>
		        </tr>
		        <tr>
		            <td>Diastatic Powder:</td>
		            <td>{{ fermentables.diastatic_power }}</td>
		        </tr>
		        <tr>
		            <td>Potential Gravity:</td>
		            <td>{{ fermentables.protein }}</td>
		        </tr>
		        <tr>
		            <td>Protein:</td>
		            <td>{{ fermentables.protein }}</td>
		        </tr>
		        <tr>
		            <td>Max amount to have in Batch:</td>
		            <td>{{ fermentables.max_in_batch }}</td>
		        </tr>
		        <tr>
		            <td>Does it require mashing:</td>
		            <td>{{ fermentables.requires_mashing }}</td>
		        </tr>
		        <tr>
		            <td>Characteristics:</td>
		            <td>{{ fermentables.characteristics }}</td>
		        </tr>
		        <tr>
		            <td>Country of Origin:</td>
		            <td>{{ fermentables.country }}</td>
		        </tr>
		    </table>
		</section>
	</div>
</div> 


{% endblock %}