{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
	<div class="col-xs-12 col-md-6 col-lg-6">
		<section class="" id="splash">
			<p><h1>{{ hops.name }}</h1><p>
			<p>Description: {{ hops.description }}</p>
		</section>
	</div>

	<div class="col-xs-12 col-md-6 col-lg-6 col-lg-offset-6" id="tablerow" style="margin:0;">

		<section>
			<table class="table table-striped">
		        <tr>
		            <td>Alpha Acid Range:</td>
		            <td>{{ hops.alpha_min }} - {{ hops.alpha_max }}</td>
		        </tr>
		        <tr>
		            <td>Beta Acid Range:</td>
		            <td>{{ hops.beta_min }} - {{ hops.beta_max }}</td>
		        </tr>
		        <tr>
		            <td>Country of Origin:</td>
		            <td>{{ hops.origin_country }}</td>
		        </tr>
		    </table>
		</section>

	</div>
</div>

{% endblock %}