{% extends 'base.html' %}
{% block content %}
<h2>Log in Please!</h2>

{% for message in get_flashed_messages() %}
	<li>{{ message }}</li>
{% endfor %}

<div>
	<h1>Login</h1>
	<form action="/login" method="POST">
		<div>
			<label>Please Enter your email or username:
				<input type="text" name="username" required>
			</label>
		</div>

		<div>
			<label>Please enter your password:
				<input type="password" name="password" required>
			</label>
		</div>

		<div>
			<input type="submit">
		</div>
	</form>

	<a href="/new-account">Please click here to create a new account.</a>

</div>

{% endblock %}