{% extends 'base.html' %}
{% block content %}

<h2>Please Create an Account!</h2>

<div>
<h1>Create a new account</h1>

<form action="/new-account" method="POST">
	<div>
		<label>
			Please enter your email:
			<input type="email" name="email" required>
		</label>
	</div>

	<div>
		<label>
			Please enter your username:
			<input type="text" name="username" required>
		</label>
	</div>

	<div>
		<label>
			Please enter your password:
			<input type="password" name="password" required>
		</label>
	</div>
		<input type="submit">
	</div>

	<a href="/login">Already have an account? Please log in!</a>

</form>

</div>

{% endblock %}