{% extends 'base.html' %}
{% block content %}

<h1> This is where I will display the users profile. Could be open to more design later. The basic thing will be just displaying the project titles that the user has worked on or is working on. Also allow them to make new projects</h1>

<h2>Projects!</h2>

{% for project in projects %}
	<li>
		<a href="/project-display/{{ project.project_name  }}">{{ project.project_name  }}</a>
	</li>
{% endfor %}

<a href="/new-project">Create a new project here</a>
<h2>Submit button</h2>
<br>
<a href="/">back</a>

{% endblock %}