{% extends 'base.html' %}
{% block content %}

<head>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<h2>Projects!</h2>

{% for project in projects %}
	<li>
		<a href="/project-display/{{ project.project_name  }}">{{ project.project_name  }}</a>
	</li>
{% endfor %}

<button id="new" href="/new-project">Create a new project here</button>

 <script>
	"use strict";

	$('#new').click(newProject);

	function newProject(result) {
		window.location.href = '/new-project'	
	}
 </script>

{% endblock %}