{% extends 'base.html' %}
{% block content %}

<head>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<div class="container-fluid">
	<div class="">
		<section class="" id="splash">
			<p><h1>Random Beer!</h1><p>
		</section>
	</div>

	<div class="" id="tablerow" style="margin:0;">

		<section>
			<table class="table table-striped">
		        <tr>
		            <th>Yeast:</th>
		            <th>{{ yeast.name }}</th>
		        <tr>
		            <td>Hops:</td>
		            <td>{{ hops.name }}</td>
		        </tr>
		        <tr>
		            <td>Hops2:</td>
		            <td>{{ hops2.name }}</td>
		        </tr>
		        <tr>
		            <td>Hops3:</td>
		            <td>{{ hops3.name }}</td>
		        </tr>
		        <tr>
		            <td>Fermentables:</td>
		            <td>{{ fermentables.name }}</td>
		        </tr>
		        <tr>
		            <td>Fermentables2:</td>
		            <td>{{ fermentables2.name }}</td>
		        </tr>
		        <tr>
		            <td>Fermentables3:</td>
		            <td>{{ fermentables3.name }}</td>
		        </tr>
		    </table>
		</section>
	</div>
</div> 

{% if 'username' in session %}
	<button data-yeast="{{ yeast.name }}" data-hops="{{ hops.name }}" data-hopshops="{{ hops2.name }}" data-hopshopshops="{{ hops3.name }}" data-ferment="{{ fermentables.name }}" data-fermentable="{{ fermentables2.name }}" data-fermentables="{{ fermentables3.name }}" id="save">Save these items!</button>
{% else %}
	<button id="notSave"> Save these items!</button>
{% endif %}



<script>
	"use strict";

	$('#save').click(saveRandom);
	$('#notSave').click(redirectUser);

	jQuery(window).load(function() {
		sessionStorage.SetItem('status', "loggedIn")
	});

	function saveRandom(evt) {
		evt.preventDefault();
		$.get('/save-random.json', {yeast: $(this).data( "yeast" ),
									hops: $(this).data( "hops" ),
									hopshops: $(this).data( "hopshops" ),
									hopshopshops: $(this).data( "hopshopshops" ),
									ferment: $(this).data( "ferment" ),
									fermentable: $(this).data( "fermentable" ),
									fermentables: $(this).data( "fermentables" ),
								   },
			displayProject);
	}

	function displayProject(result) {
		console.log(result);
		window.location.href = '/new-project'
	}

	function redirectUser(evt){
		evt.preventDefault();
		window.location.href = '/login'
	}
 </script>

{% endblock %}

