{% extends 'base.html' %}
{% block content %}

<h1> This is where the user will be able to make a random beer made from randomly selected ingredients from the database!</h1>

<h2>Random Beer!</h2>

<h2>Choose random yeast, fermentables, and hops!</h2>

<h2>random button</h2>

<h2>display the random ingredients</h2>

<h1>If you need some inspiration click the Submit button and we will randomly choose some ingredients for you! To help jumpstart your brain storming</h1>

<a href="/random-beer-display">Submit!</a>

<!-- <div>
	<input type="Submit">
</div> -->

{% endblock %}