{% extends 'base.html' %}
{% block content %}

<head>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<h2>Random Beer!</h2>

<h3>Yeast: {{ yeast.name }}</h3>

<h3>Hops: {{ hops.name }}</h3>

<h3>Hops2: {{ hops2.name }}</h3>

<h3>Hops3: {{ hops3.name }}</h3>

<h3>Fermentables: {{ fermentables.name }}</h3>

<h3>Fermentables2: {{ fermentables2.name }}</h3>

<h3>Fermentables3: {{ fermentables3.name }}</h3>

{% if 'username' in session %}
	<button data-yeast="{{ yeast.name }}" data-hops="{{ hops.name }}" data-hopshops="{{ hops2.name }}" data-hopshopshops="{{ hops3.name }}" data-ferment="{{ fermentables.name }}" data-fermentable="{{ fermentables2.name }}" data-fermentables="{{ fermentables3.name }}" id="save">Save these items!</button>
{% else %}
	<button id="notSave"> Save these items!</button>
{% endif %}



<script>
	"use strict";

	$('#save').click(saveRandom);
	$('#notSave').click(redirectUser);

	jQuery(window).load(function() {
		sessionStorage.SetItem('status', "loggedIn")
	});

	function saveRandom(evt) {
		evt.preventDefault();
		$.get('/save-random.json', {yeast: $(this).data( "yeast" ),
									hops: $(this).data( "hops" ),
									hopshops: $(this).data( "hopshops" ),
									hopshopshops: $(this).data( "hopshopshops" ),
									ferment: $(this).data( "ferment" ),
									fermentable: $(this).data( "fermentable" ),
									fermentables: $(this).data( "fermentables" ),
								   },
			displayProject);
	}

	function displayProject(result) {
		console.log(result);
		window.location.href = '/new-project'
	}

	function redirectUser(evt){
		evt.preventDefault();
		window.location.href = '/login'
	}
 </script>

{% endblock %}

