{% extends 'base.html' %}
{% block content %}

<head>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<h2>Random Beer!</h2>

<h2>display the random ingredients</h2>

<h3>Yeast: {{ yeast.name }}</h3>

<h3>Hops: {{ hops.name }}</h3>
{% if hops2 == None %}
	<h3>Hops2: None</h3>
	{% else %}
		<h3>Hops2: {{ hops2.name }}</h3>
{% endif %}

{% if hops3 == None %}
	<h3>Hops3: None</h3>
	{% else %}
		<h3>Hops3: {{ hops3.name }}</h3>
{% endif %}

<h3>Fermentables: {{ fermentables.name }}</h3>

{% if fermentables2 == None %}
	<h3>Fermentables2: None</h3>
	{% else %}
		<h3>Fermentables2: {{ fermentables2.name }}</h3>
{% endif %}

{% if fermentables3 == None %}
	<h3>Fermentables3: None</h3>
	{% else %}
		<h3>Fermentables3: {{ fermentables3.name }}</h3>
{% endif %}

<a href="/">Back</a>
<!-- <button id="save">Save these items!</button> -->

<script>
	// "use strict";

	// $('#save').click(saveRandom);

	// // var val = sessionStorage.myValue

	// function saveRandom(evt) {
	// 	evt.preventDefault();
	// 	$.get('/save-random.json', {name: $(this).data( "name" ) }, displayRandom)
	// }

	// function displayRandom(result) {
	// 	console.log(result)
	// 	// $.each(result, function(key, value){
	// 	// 	var update = $('[name=' +key+']', frm);
	// 	// 	switch(update.prop("type"))
	// 	// });
	// }
 </script>

{% endblock %}

