{% extends 'base.html' %}
{% block content %}

<h1> This is where the specifics about an individual style will be displayed</h1>

<h2>Styles!</h2>

Name: {{ styles.name }}
<br>
Description: {{ styles.description }}
<br>
ABV Min: {{ styles.abvMin }}
<br>
ABV Max: {{ styles.abvMax }}
<br>
IBU Min: {{ styles.ibuMin }}
<br>
IBU Max: {{ styles.ibuMax }}
<br>
OG Min: {{ styles.ogMin }}
<br>
OG Max: {{ styles.ogMax }}
<br>
FG Min: {{ styles.fgMin }}
<br>
FG Max: {{ styles.fgMax }}
<br>
SRM Min: {{ styles.srmMin }}
<br>
SRM Max: {{ styles.srmMax }}
<br>
Category: {{ styles.category }}
<br>

<a href="/styles">back</a>

{% endblock %}