{% extends 'base.html' %}
{% block content %}

<head>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<h2>Styles!</h2>

<form>
	Search by Category:
		<select name="Category" id="cat">
			<option value="British Origin Ales">British Origin Ales</option>
			<option value="Irish Origin Ales">Irish Origin Ales</option>
			<option value="North American Origin Ales">North American Origin Ales</option>
			<option value="German Origin Ales">German Origin Ales</option>
			<option value="Belgian And French Origin Ales">Belgian And French Origin Ales</option>
			<option value="International Ale Styles">International Ale Styles</option>
			<option value="European-germanic Lager">European-germanic Lager</option>
			<option value="North American Lager">North American Lager</option>
			<option value="Other Lager">Other Lager</option>
			<option value="International Styles">International Styles</option>
			<option value="Hybrid/mixed Beer">Hybrid/mixed Beer</option>
			<option value="Mead, Cider, & Perry">Mead, Cider, & Perry</option>
			<option value="Other Origin">Other Origin</option>
			<option value="Malternative Beverages">Malternative Beverages</option>
		</select>
		<button id="search">Search!</button>
</form>

<ul id="styles">
</ul>

<script>
	"use strict";

	$( document ).ready(function() {
	    $.get('/styles.json', {cat: "all" }, displayStyles)
	});

	var catSearch = document.getElementById("search");

	catSearch.addEventListener("click", searchDisplay);

	function searchDisplay(evt) {
		evt.preventDefault();
		$.get('/styles.json', {cat: $("#cat").val() }, displayStyles)
	}

	function displayStyles(result) {
		$("#styles").empty()
		for(var i = 0; i < result.length; i++){
			var encoded = encodeURIComponent(result[i]);
			console.log(encoded);
			$("#styles").append("<li><a href=/style-display/" + encoded +">" + result[i] + "</a></li>");
		}
	}
 </script>

{% endblock %}