{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
	<div class="col-xs-12 col-md-6 col-lg-6">
		<section class="" id="splash">
			<p><h1>{{ yeast.name }}</h1><p>
			<p>Description: {{ yeast.description }}</p>
		</section>
	</div>

	<div class="col-xs-12 col-md-6 col-lg-6 col-lg-offset-6" id="tablerow" style="margin:0;">

		<section>
			<table class="table table-striped">
		        <tr>
		            <th>Type:</th>
		            <th>{{ yeast.yeast_type }}</th>
		        <tr>
		            <td>Temperature Range:</td>
		            <td>{{ yeast.ferment_temp_min }} - {{ yeast.ferment_temp_max }}</td>
		        </tr>
		        <tr>
		            <td>Alcohol Range:</td>
		            <td>{{ yeast.alcohol_tolerance_min }} - {{ yeast.alcohol_tolerance_max }}</td>
		        </tr>
		        <tr>
		            <td>Yeast Format:</td>
		            <td>{{ yeast.yeast_format }}</td>
		        </tr>
		    </table>
		</section>

	</div> 
</div>

{% endblock %}