{% extends 'base.html' %}
{% block content %}

<head>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<div class="container-fluid">
<div class="col-sm-12 col-med-6 col-lg-6">
<h2>Yeast</h2>

<form>
	<p>Search by the form you can buy the yeast in:
		<select name="yeastForm" id="yf">
			<option value="liquid">liquid</option>
			<option value="dry">dry</option>
		</select>
		<button id="search">Search!</button></p>
</form>

<ul id="yeasts">
</ul>

</div>

<div class="col-med-6 col-lg-6">
<div class="picture">
	<img src="/static/Porter-Beer-Ingredients.png" align="right">
</div>
</div>
</div>

<script>
	"use strict";

	$( document ).ready(function() {
	    $.get('/yeasts.json', {yf: "all" }, displayYeasts)
	});

	var yfSearch = document.getElementById("search");

	yfSearch.addEventListener("click", searchDisplay);

	function searchDisplay(evt) {
		evt.preventDefault();
		$.get('/yeasts.json', {yf: $("#yf").val() }, displayYeasts)
	}

	function displayYeasts(result) {
		$("#yeasts").empty()
		for(var i = 0; i < result.length; i++){
			var encoded = encodeURIComponent(result[i]);
			console.log(encoded);
			$("#yeasts").append("<li><a href=/yeast-display/" + encoded +">" + result[i] + "</a></li>");
		}
	}
 </script>

{% endblock %}